{% extends '::base.html.twig' %}

{% block page %}
    <div id="page" class="inner-width">
        <h1 class="title-5" data-icon="s">
            <span>Register</span>
        </h1>

        <form class="pure-form pure-form-stacked" method="POST" action="{{ path('registration') }}" novalidate="novalidate" enctype="multipart/form-data">
            <p id="civility" class="pure-checkbox">
                {{ form_widget(form.profile.gender) }}
            </p>

            {% if form_errors(form.profile.gender) %}
                <p>
                    <span class="error">Please select a gender</span>
                </p>
            {% endif %}

            <div class="pure-g-r">
                <p class="pure-u-1-2 form-text">
                    <label for="fistname">Firstname *</label></br>
                    {{ form_widget(form.profile.firstname, {'attr': {'class': 'checkfield required name', 'tabindex': '1', 'style':'width:250px;' },'id':'fistname' }) }}
                    {% if form_errors(form.profile.firstname) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>


                <p class="pure-u-1-2 form-text">
                    <label for="lastname">LastName*</label></br>
                    {{ form_widget(form.profile.lastname, {'attr': {'class': 'checkfield required name', 'tabindex': '2', 'style':'width:250px;' },'id': 'lastname' }) }}
                    {% if form_errors(form.profile.lastname) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>


                <p class="pure-u-1-2 form-text">
                    <label for="email">Email*</label></br>
                    {{ form_widget(form.email, {'attr': {'class': 'checkfield required email', 'tabindex': '3', 'style':'width:250px;' }, 'id': 'email' }) }}
                    {% if form_errors(form.email) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>


                <p class="pure-u-1-2 form-text">
                    <label for="email">Username*</label></br>
                    {{ form_widget(form.username, {'attr': {'class': 'checkfield required', 'tabindex': '4', 'style':'width:250px;'  }, 'id': 'email' }) }}
                    {% if form_errors(form.username) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>


                <p class="pure-u-1-2 form-text ">
                    <label for="password">Password*</label></br>
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'checkfield required password', 'tabindex': '5' , 'style':'width:250px;'} }) }}
                </p>


                <p class="pure-u-1-2 form-text">
                    <label for="password-confirm">Confirm password*</label></br>
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'checkfield required password-confirm', 'tabindex': '6', 'style':'width:250px;' }}) }}
                    {% if form_errors(form.plainPassword) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>


                <p class="pure-u-1-2 form-text">
                    <label for="town">City</label></br>
                    {{ form_widget(form.profile.city, {'attr': {'tabindex': '7', 'style':'width:250px;' },'id':'town' }) }}
                    {% if form_errors(form.profile.city) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>


                <p class="pure-u-1-2 form-text">
                    <label for="address">Address</label></br>
                    {{ form_widget(form.profile.address, {'attr': {'tabindex': '8' , 'style':'width:250px;' }}) }}
                    {% if form_errors(form.profile.address) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>


                <p class="pure-u-1-2 form-text">
                    <label for="zipcode">Zipcode</label></br>
                    {{ form_widget(form.profile.zipcode, {'attr': {'class': 'checkfield zipcode', 'tabindex': '9', 'style':'width:250px;' },'id':'zipcode' }) }}
                    {% if form_errors(form.profile.zipcode) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>


                <p class="pure-u-1-2 form-text">
                    <label for="phone">Phone</label></br>
                    {{ form_widget(form.profile.phone, {'attr': {'class': 'checkfield phone', 'tabindex': '10', 'style':'width:250px;' },'id':'phone' }) }}
                    {% if form_errors(form.profile.phone) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>


                <p class="pure-u-1-2 form-text">
                    <label for="phone">Company</label></br>
                    {{ form_widget(form.profile.company, {'attr': {'tabindex': '11' , 'style':'width:250px;'} }) }}
                    {% if form_errors(form.profile.company) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>


                <p class="pure-u-1-2 form-text">
                    <label for="phone">Photo</label></br>
                    {{ form_widget(form.profile.file, {'attr': { 'tabindex': '12', } }) }}
                    {% if form_errors(form.profile.file) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>

                <p class="pure-u-1-2 ">
                    <label for="phone">Description</label></br>
                    {{ form_widget(form.profile.description, {'attr': { 'tabindex': '13', 'style':'width:735px;', 'rows': 10 } }) }}
                    {% if form_errors(form.profile.description) %}
                        <span class="error">adsas</span>
                    {% endif %}
                </p>
            </div>
            <p>* Mandatory fields</p>


            <p class="pure-u-1-2 form-submit txt-c">
                <button type="submit" class="btn btn-l bg-blue" tabindex="12" id='registration-button'>
                    Register
                    <span class="icon icon-arrow-right"></span>
                </button>
            </p>
            {{ form_widget(form._token) }}
        </form>

    </div>
{% endblock %}
